
// Brand:

$color-accent: #fe214f;
$gradient-image: linear-gradient(111deg, #9800d4, #ff214d);

// Text:

$color-text-primary: #4a4a4a;
$color-text-primary-light: #d4d4d4;

// Form:

$color-form-control-bg: #eeeeee;
